/* RESET */

[v-cloak] {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

/* STILE */

body {
    height: 100vh;
    overflow: hidden;

}

.scroller {
    overflow-y: scroll;
    scrollbar-color: #0A4C95 #C2D2E4;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.dark-theme {
    --bg-primary: rgb(12, 12, 12);
    --bg-secondary: rgb(255, 255, 255);
    --invert: 1;
}

.light-theme {
    --bg-primary: rgb(255, 255, 255);
    --bg-secondary: rgb(12, 12, 12);
    --invert: 0;

}

.invert {
    filter: invert(var(--invert));
    transition: filter 0.3s ease-in-out;
}

.modal-content {
    background-color: var(--bg-primary) !important;
}

.modal-backdrop.fade.show {
    z-index: 4 !important;
}

.custom-canvas-body {
    flex-grow: 0 !important;
}

/*
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, rgb(242, 181, 203) 50%, rgba(206, 206, 206, 0) 100%);
    border-radius: 10px;
} */


/* HEADER */

#app {
    height: 100%;

}

.wrapper {
    height: 100%;
    background-color: var(--bg-primary);
    color: var(--bg-secondary);
    transition: all 0.3s ease-in-out;
}

.logo {
    width: 150px;
}

header {
    height: 150px;
}

/* MAIN */

main {
    height: calc(100vh - 150px);
}

.container {
    position: absolute;
    inset: 0 0 0 0;
    z-index: 5;
}

.trending-now {
    font-size: 18px;
    letter-spacing: 15px;
    font-weight: 600;
}

.add {
    all: unset;
    margin: 0 auto;
    width: fit-content;
    padding: 20px 30px;
    border-radius: 20px;
    background: #f0f0f0;
    box-shadow: -5px -5px 50px #ddddddc6, 5px 5px 50px #ffffffc5;
    font-size: 20px;
    font-weight: bold;
    color: rgb(200, 200, 200)
}

.discs {
    padding: 20px 0;
    overflow-y: auto;

    flex-wrap: nowrap;
}



.cover {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.cover-btn {
    all: unset;
    width: 100%;
    transition: all 0.5s;
}

.cover-btn:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}

.author {
    font-size: 14px;
}

.canvas-cover {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

#offcanvasRight {
    width: 60vh;
    top: 70px;
    border-radius: 20px 0 0 20px;
    padding: 40px;
    height: fit-content;
}

.offcanvas-title {
    flex-grow: 1;
    letter-spacing: 5px;
}

.infos {
    font-size: 20px;
}

.info-type {
    font-weight: bolder;
    text-transform: uppercase;
    color: gray;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1199px) {
    .cover-btn {
        width: 100%;
    }
}

/* ----------------------- */

.scrolling-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.scroll-snap {
    flex: 0 0 auto;
    scroll-snap-align: start;
}







.background-spinner {
    position: absolute;
    transform: scale(30);
    bottom: -80vh;
    right: 48%;
    z-index: -5;
}

.spinner {
    background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
    width: 100px;
    height: 100px;
    animation: spinning82341 8s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(5px);
    box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
    background-color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    filter: blur(20px);
}

@keyframes spinning82341 {
    to {
        transform: rotate(360deg);
    }
}















.checkbox-wrapper-5 .check {
    margin-top: 5px;
    --size: 25px;
    position: relative;
    background: linear-gradient(90deg, #c999f0, #9088ff);
    line-height: 0;
    perspective: 400px;
    font-size: var(--size);
}

.checkbox-wrapper-5 .check input[type="checkbox"],
.checkbox-wrapper-5 .check label,
.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after,
.checkbox-wrapper-5 .check {
    appearance: none;
    display: inline-block;
    border-radius: var(--size);
    border: 0;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.checkbox-wrapper-5 .check label {
    width: calc(2.2 * var(--size));
    height: var(--size);
    background: #d7d7d7;
    overflow: hidden;
}

.checkbox-wrapper-5 .check input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: calc(.8 * var(--size));
    height: calc(.8 * var(--size));
    top: calc(.1 * var(--size));
    left: calc(.1 * var(--size));
    background: linear-gradient(45deg, #dedede, #ffffff);
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
    outline: none;
    margin: 0;
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked {
    left: calc(1.3 * var(--size));
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked+label {
    background: transparent;
}

.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: calc(.15 * var(--size));
    top: calc(.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: calc(.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
}

.checkbox-wrapper-5 .check label::after {
    content: "●";
    top: calc(.65 * var(--size));
    left: calc(.2 * var(--size));
    height: calc(.1 * var(--size));
    width: calc(.35 * var(--size));
    font-size: calc(.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked+label::before,
.checkbox-wrapper-5 .check input[type="checkbox"]:checked+label::after {
    left: calc(1.55 * var(--size));
    top: calc(.4 * var(--size));
    line-height: calc(.1 * var(--size));
    transform: rotateY(360deg);
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked+label::after {
    height: calc(.16 * var(--size));
    top: calc(.55 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(.6 * var(--size));
    line-height: 0;
}