/* RESET */

[v-cloak] {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

.showIt {
    opacity: 1;
}

.hide-it {
    opacity: 0;
}

/* STILE */

body {
    height: 100vh;
    overflow: hidden;

}

.scroller {
    overflow-y: scroll;
    scrollbar-color: #0A4C95 #C2D2E4;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.dark-theme {
    --bg-primary: rgb(12, 12, 12);
    --bg-secondary: rgb(255, 255, 255);
    --invert: 1;
}

.light-theme {
    --bg-primary: rgb(255, 255, 255);
    --bg-secondary: rgb(12, 12, 12);
    --invert: 0;

}

.invert {
    filter: invert(var(--invert));
    transition: filter 0.3s ease-in-out;
}

.modal-content {
    background-color: var(--bg-primary) !important;
}

.modal-backdrop.fade.show {
    z-index: 4 !important;
}

.custom-canvas-body {
    flex-grow: 0 !important;
}

/*
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, rgb(242, 181, 203) 50%, rgba(206, 206, 206, 0) 100%);
    border-radius: 10px;
} */


/* HEADER */

#app {
    height: 100%;

}

.tools {
    position: relative;
}

.wrapper {
    height: 100%;
    background-color: var(--bg-primary);
    color: var(--bg-secondary);
    transition: all 0.3s ease-in-out;
}

.logo {
    width: 150px;
}

header {
    height: 150px;
}

/* MAIN */

main {
    height: calc(100vh - 150px);
}

.container {
    position: absolute;
    inset: 0 0 0 0;
    z-index: 5;
}

.section-title {
    font-size: 18px;
    letter-spacing: 15px;
    font-weight: 600;
}

.add {
    all: unset;
    margin: 0 auto;
    width: fit-content;
    padding: 20px 30px;
    border-radius: 20px;
    background: #f0f0f0;
    box-shadow: -5px -5px 50px #ddddddc6, 5px 5px 50px #ffffffc5;
    font-size: 20px;
    font-weight: bold;
    color: rgb(200, 200, 200);
    transition: transform 0.5s;
}

.add:hover {
    transform: scale(1.1);
}

.discs {
    padding: 20px 0;
    overflow-y: auto;
    flex-wrap: nowrap;
}

.button-wrapper {
    position: relative;
}

.cover {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.cover-btn {
    all: unset;
    width: 100%;
    transition: all 0.5s;
}


.button-wrapper:hover .heart-container {
    opacity: 1;
}

.button-wrapper:hover .cover-btn {
    filter: brightness(0.7);
    transform: scale(1.05);
}



.author {
    font-size: 14px;
}

.canvas-cover {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

#offcanvasRight,
#addCD {
    width: 30vw;
    top: 110px;
    border-radius: 20px 0 0 20px;
    padding: 40px;
    height: fit-content;
}

.offcanvas-title {
    flex-grow: 1;
    letter-spacing: 5px;
}

.infos {
    font-size: 20px;
}

.info-type {
    font-weight: bolder;
    text-transform: uppercase;
    color: gray;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1199px) {
    .cover-btn {
        width: 100%;
    }
}

/* ----------------------- */

.scrolling-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.scroll-snap {
    flex: 0 0 auto;
    scroll-snap-align: start;
}







.background-spinner {
    position: absolute;
    transform: scale(30);
    bottom: -150vh;
    right: 48%;
    z-index: -5;
}

.spinner {
    background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
    width: 100px;
    height: 100px;
    animation: spinning82341 8s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(5px);
    box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
    background-color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    filter: blur(20px);
}

@keyframes spinning82341 {
    to {
        transform: rotate(360deg);
    }
}















.checkbox-wrapper-5 .check {
    margin-top: 5px;
    --size: 25px;
    position: relative;
    background: linear-gradient(90deg, #c999f0, #9088ff);
    line-height: 0;
    perspective: 400px;
    font-size: var(--size);
}

.checkbox-wrapper-5 .check input[type="checkbox"],
.checkbox-wrapper-5 .check label,
.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after,
.checkbox-wrapper-5 .check {
    appearance: none;
    display: inline-block;
    border-radius: var(--size);
    border: 0;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.checkbox-wrapper-5 .check label {
    width: calc(2.2 * var(--size));
    height: var(--size);
    background: #383838;
    overflow: hidden;
}

.checkbox-wrapper-5 .check input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: calc(.8 * var(--size));
    height: calc(.8 * var(--size));
    top: calc(.1 * var(--size));
    left: calc(.1 * var(--size));
    background: linear-gradient(45deg, #dedede, #ffffff);
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
    outline: none;
    margin: 0;
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked {
    left: calc(1.3 * var(--size));
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked+label {
    background: transparent;
}

.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: calc(.15 * var(--size));
    top: calc(.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: calc(.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
}

.checkbox-wrapper-5 .check label::after {
    content: "●";
    top: calc(.65 * var(--size));
    left: calc(.2 * var(--size));
    height: calc(.1 * var(--size));
    width: calc(.35 * var(--size));
    font-size: calc(.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked+label::before,
.checkbox-wrapper-5 .check input[type="checkbox"]:checked+label::after {
    left: calc(1.55 * var(--size));
    top: calc(.4 * var(--size));
    line-height: calc(.1 * var(--size));
    transform: rotateY(360deg);
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked+label::after {
    height: calc(.16 * var(--size));
    top: calc(.55 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(.6 * var(--size));
    line-height: 0;
}
















.heart-container {
    margin: 0 auto;
    --heart-color: rgb(255, 255, 255);
    --like-color: rgb(255, 110, 110);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    transition: .3s;
    z-index: 15;
    opacity: 0;


}

.heart-container .checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
}

.heart-container .svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-container .svg-outline {
    fill: var(--heart-color);
    position: absolute;
}

.heart-container .svg-filled {
    fill: var(--like-color);
    position: absolute;
    transform: scale(1.0);
}

.heart-container .svg-filled {
    animation: keyframes-svg-filled 1s;
    display: none;
}

.heart-container .svg-celebrate {
    position: absolute;
    animation: keyframes-svg-celebrate .5s;
    animation-fill-mode: forwards;
    display: none;
    stroke: var(--heart-color);
    fill: var(--like-color);
    stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
    display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
    display: block
}

@keyframes keyframes-svg-filled {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.4);
    }

    50% {
        transform: scale(1.0);
    }
}

@keyframes keyframes-svg-celebrate {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
        display: none;
    }
}











.favs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5.5px 5px 5.5px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border-color: #ffe2e2;
    border-style: solid;
    border-radius: 50%;
    transition: transform 400ms cubic-bezier(.68, -0.55, .27, 2.5),
        border-color 400ms ease-in-out,
        background-color 400ms ease-in-out;
    word-spacing: -2px;
}

@keyframes movingBorders {
    0% {
        border-color: #fce4e4;
    }

    50% {
        border-color: #ffd8d8;
    }

    90% {
        border-color: #fce4e4;
    }
}

.favs:hover {
    background-color: #eee;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
}

.favs svg {
    fill: rgb(255, 110, 110);
    transform: scale(0.8);
}

@keyframes beatingHeart {
    0% {
        transform: scale(0.8);
    }

    15% {
        transform: scale(1);
    }

    30% {
        transform: scale(0.8);
    }

    45% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(0.8);
    }
}

.favs:hover svg {
    transform: scale(105%);
    border-color: #ffd8d8;
    animation: beatingHeart 1.2s infinite;
}












.trending-icon {
    position: absolute;
    top: 50%;
    left: -40%;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
    cursor: pointer;
}

.trending-icon span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.trending-icon span:nth-of-type(1) {
    filter: blur(5px);
}

.trending-icon span:nth-of-type(2) {
    filter: blur(10px);
}

.trending-icon span:nth-of-type(3) {
    filter: blur(25px);
}

.trending-icon span:nth-of-type(4) {
    filter: blur(50px);
}

.trending-icon::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    border: solid 5px #ffffff;
    border-radius: 50%;
}

@keyframes rotate_3922 {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}